.card--header{
    display: flex;
    width: 100%;
    padding: 5px;
}
.card--header .card--profileImage{
    width: 30%;
}
.card--header .card--userInfo{
    width: 70%;
    padding-left: 5px;
}

.card--header .card--userInfo .card--userInfo--userName{
    color: #0084ed;
    font-size: 16px;
}

.card--header .card--userInfo .card--userInfo--tags{
    display: flex;
} 

.card--devider--info{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
    margin: 0;
}

.card--profile-last-posts{
    display: flex;
    
}