.posts-card--header{
    width: 100%;
    padding: 0;
    margin: 0;
}
.posts-card--body{
 padding: 10px;
 font-size: 14px;
 color: #ccc;
 /* border-top: 1px solid #ccc;
 border-bottom: 1px solid #ccc; */
}
.posts-card--body .posts-card--price-list span{
    font-weight: 600;
    color: #000;
}
.posts-card--body .posts-card--price-list{
    font-weight: 600;
    /* border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; */

}
.posts-card--body .posts-card--description span{
    font-weight: 600;
    color: #000;

}
.posts-card--body .posts-card--description{
    font-size: 13px;

}

.posts-card--footer{
    padding: 5px;
    border-top: 1px solid #ccc;
}